:root {
  --color-darkest: #0e153a;
  --color-mid: #3d5af1;
  --color-light: #22d1ee;
  --color-lightest: #e2f3f5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

@media (max-width: 420px) {
  .container-fluid {
    padding: 3% 3% 7%;
  }
}

.colored-section {
  background-color: var(--color-darkest);
  color: var(--color-lightest);
}

/* Change text highlighting colors */
.colored-section *::selection,
.colored-section *::-moz-selection {
  background-color: var(--color-lightest);
  color: var(--color-mid);
}

.button-text {
  padding-left: 8px;
}

.card-parent {
  padding: 0.5rem;
  display: flex;
}

.padded-card {
  padding: 1rem;
}

.company-logo {
  text-align: center;
  padding: 20px;
  object-fit: contain;
}

.social-icons {
  text-align: center;
}

.social-icon {
  color: var(--color-lightest);
  margin: 1rem;
}

.social-icon:hover {
  color: var(--color-light);
}

.copyright {
  text-align: center;
}
