/* Change text highlighting colors */
*::selection {
  background-color: #00a79d;
  color: #ffeecf;
}

*::-moz-selection {
  background-color: #00a79d;
  color: #ffeecf;
}

.container-fluid {
  padding: 3% 15% 7%;
}

@media (max-width: 420px) {
  .container-fluid {
    padding: 3% 3% 7%;
  }
}

.colored-section {
  background-color: #007065;
  color: #ffeecf;
}

.button-text {
  padding-left: 8px;
}

.padded-card {
  padding: 1rem;
}

.company-logo {
  width: 12px;
  text-align: center;
  padding: 20px;
  object-fit: contain;
}

.social-icons {
  text-align: center;
}

.social-icon {
  color: #ffeecf;
  margin: 1rem;
}

.social-icon:hover {
  color: #f5c181;
}

.copyright {
  text-align: center;
}
